/* Official Geist v1.7.2, complete character set. OFL license in public/fonts/geist. */
@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/geist-v1.7.2-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/geist/geist-v1.7.2-italic-variable.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}
